*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* nav start  */
.container{
    width: 1280px;
    margin:0 auto;
    
}
.nav{
    width: 100%;
    position: absolute;
}
.main{
    display: flex;
    justify-content: space-between;
    
}
.logo img{
    margin-top: 32px;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    
}
.menu ul li a{
    padding:0 16px;
    font-weight: 500;
    color: rgb(192, 191, 191);
}
.menu ul li a:hover{
    color: white;
}

a.contact-us{
    padding: 16px 48px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 41px;
    font-weight: 500;
    margin-left: 48px;
    color: white;
    transition: 0.5s;
}
a.contact-us:hover{
    background-color: #FCD980;
}
/* banner part  */
#banner{
    background-color: #1C1E53;
    height: 760px;
    
}

.banner-text{
    display: flex;
    justify-content: space-between;
    padding-top: 218px;
}
.banner-heading h1{
    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
}
.banner-heading p{
    color: #FFFFFF;
}
.btn{
    margin-top: 63px;
}
a.view{
    padding: 16px 56px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 41px;
    font-weight: 500;
    color: white;
    transition: 0.5s;
}

a.view:hover{
    background-color: #FCD980;
    color: black;
}
a.pricing{
    text-decoration: none;
    margin-left: 40px;
    color: white;
}
.banner-logo{
    margin-top: 15px;
}
.companies{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user h3{
    font-size: 38px;
    font-weight: 600;
}
.lorem{
    height:32px;
    width: 161px;
}
/* companies end  */
/* benifit style  */
#benefits{
    margin-top: 128px;
}
.fetures-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card-details{
    background-color: #EEF4FA;
    width: 405px;
    height: 316px;
}
.card-details-part{
    padding-left: 48px;
}
.card-details-part h6{
    margin-top: 22px;
    font-size: 24px;
    font-weight: 500;
}
.card-details-part p{
    margin-top: 12px;
    color: #282938;
}
.icon-item{
    padding-top: 58px;
    font-size: 32px;
    color: #2405F2;
}
.work-heading h2{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 48px;
}
.user{
    height: 84px;
    width: 176px;
}
/* benifit style end */
/* group section style  */
#group-study{
    margin-top: 128px;
}
.group-discus{
    display: flex;
    justify-content: space-between;
}
.group-left h3{
    font-size: 38px;
    font-weight: 600;
}
.group-left p{
    color: #282938;
    padding-top: 31px;
    
}
.group-ab p{
    font-weight: 600;
}

.group-right img{
    height: 336px;
    width: 547px;
}
/* group section style end */
/* study-2 */
#group-study-2{
    margin-top: 128px;
    height: 620px;
    width: 100%;
    background-color: #F4F6FC;
}
#group-d{
    padding-top: 128px;
}
/* study-2 end */
/* study-3 */
#group-study-3{
    margin-top: 128px;
    height: 620px;
    width: 100%;
    background-color: #fff2d2
    ;
}
/* study-3 end */

/* teem meet style end */
#footer{
    width: 100%;
    height: 397px;
    background-color: #1C1E53;
}
.footer-main{
    display: flex;
    padding-top: 100px;
}
.footer-contact-body{
    height: 95px;
    width: 517px;
    background-color: #FCD980;
    display: flex;
    align-items: center;
}
.footer-contact-left{
    margin-left: 37px;
}
.footer-logo p{
    color: white;
    padding-top: 22px;
    padding-bottom: 40px;
}
.footer-contact-left h6{
   font-size: 18px;
}
.footer-right{
    margin-left: 80px;
}
.footer-right h2{
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.footer-right p{
    
    color: white;
}
.media-fb{
    font-size: 20px;
    margin-top: 28px;
    color: white; 
}
.media-link{
    font-size: 20px;
    margin-top: 28px;
    color: white;
    margin-left: 10px;
}
.white{
    width: 100%;
    height: 96px;
    background-color: white;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.footer-menu ul{
    list-style: none;
}
.footer-menu li{
    display: inline-block;
    padding: 0 15px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: black;
}

/* footer end */